*{
    padding: 0;
    margin: 0;
}

.container{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #0a0a0a, #3a4452);
}
.calculator{
    border-radius: 15px;
    border: 1px solid #717377;
    background: transparent;
    padding: 20px;
    box-shadow: 0px 3px 15px rgba(113, 115, 119, 0.5);
}

input{
    width: 250px;
    padding: 20px;
    margin: 10px;
    border: none;
    background:transparent ;
    box-shadow: 0px 3px 15px rgba(84, 84, 84, 0.1) ;
    text-align: right;
    font-size: 30px;
    cursor: pointer;
    color: #ffffff;
}

input::placeholder{
    color: #ffffff;
}

button{
    border: none;
    width: 50px;
    height: 50px;
    margin: 10px;
    border-radius: 50%;
    font-size: 20px;
    background: transparent;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1) ;
    color: #ffffff;
    cursor: pointer;
}

.equalbtn{
    background-color: chocolate;
}

.operator{
    color: #6dee0a;
}